@font-face {
  font-family: 'YangjuByeolsanA1';
  src: url('../fonts/YangJuByeolsan.ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WantedSans-Regular';
  src: url('../fonts/WantedSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}