/* Import Local SCSS Files */
@import 'fonts';

/* color */

$White: #FFFFFF;
$Min-white: #CCCCCC;
$Light-gray: #BFBFBF;
$Gray: #A4A4A4;
$Grey: #878787;
$Light-chacol: #737373;
$Chacol: #5B5B5B;
$Black: #000000;

/* fonts */

$Title-Font: 'YangjuByeolsanA1';
$Main-Font: 'WantedSans-Regular';


/* font size */

$h1-px : 35px;
$h2-px : 30px;
$h3-px : 24px;
$h4-px : 20px;
$h5-px : 18px;