@charset "UTF-8";
/* Import Local SCSS Files */ /* Import Local SCSS Files */
@font-face {
  font-family: "YangjuByeolsanA1";
  src: url("../fonts/YangJuByeolsan.ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans-Regular";
  src: url("../fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* color */
/* fonts */
/* font size */
/* Import Local SCSS Files */ /* Import Local SCSS Files */
@font-face {
  font-family: "YangjuByeolsanA1";
  src: url("../fonts/YangJuByeolsan.ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans-Regular";
  src: url("../fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* color */
/* fonts */
/* font size */
/* Reset */
* {
  outline: 0 !important;
}

html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside,
dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* 탭하거나 꾹 누르는 경우 (롱터치) 보여지는 기본 ui를 제어하는 속성이다. iOS에서 터치 동작을 막고 싶을 때 사용 */
  /* -webkit-user-select:none;  드래그나 더블 클릭해서 텍스트의 선택을 하지 못하게 함 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 화면을 탭할 때 하이라이트가 생기는 것을 없앰 */
  font-size: 16px;
}

body {
  width: 100%;
  background: #FFFFFF;
  min-width: 320px; /* 모바일 */
  -webkit-text-size-adjust: none; /* 아이폰의 경우 뷰포트가 변경되면 자동으로 폰트 크기가 변경됨 */
  word-wrap: break-word; /* 가로 영역을 넘치는 단어에 대해 분리를 어떻게 할것인지 (띄어쓰지 않아도 줄바뀜) */
  word-break: break-all; /* 위와 비슷한 줄바꿈 */
  line-height: 1;
}

body, input, select, textarea, button {
  border: none;
  font-family: "WantedSans-Regular";
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 500;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

img, fieldset {
  border: none;
}

address, cite, code, em {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button {
  vertical-align: middle;
}

.hide, caption, legend {
  line-height: 0;
  font-size: 1px;
  overflow: hidden;
}

hr {
  display: none;
}

main, header, section, nav, footer, aside, article, figure {
  display: block;
}

a {
  color: #000000;
  text-decoration: none;
}

/* Form */
textarea {
  border: 1px solid #dbdbdb;
}

select {
  height: 32px;
  font-size: 0.7rem;
  color: #373737;
  border: 1px solid #e9e9e9;
  background: #fff;
  border-radius: 5px;
}

input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date], textarea {
  width: 100%;
  height: 34px;
  font-size: 0.7rem;
  color: #484848;
  border: none;
  background: #f2f2f2;
  text-indent: 17px;
  border-radius: 20px;
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #979797;
  font-size: 0.7rem;
  line-height: 1;
}

textarea {
  padding: 5px 0;
}

select:focus,
textarea:focus,
input:focus {
  border: none;
}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=search][readonly],
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled] {
  background: #eaeaea;
  border-color: #c0c0c0;
  color: #666;
  -webkit-appearance: none;
  font-size: 0.7rem;
}

textarea[readonly],
textarea[disabled] {
  padding: 11px;
  font-size: 0.7rem;
  color: #666;
  font-weight: normal;
  line-height: 1.4;
  height: 78px;
  background: #eaeaea;
  border: 1px solid #c0c0c0;
}

@font-face {
  font-family: "YangjuByeolsanA1";
  src: url("../fonts/YangJuByeolsan.ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans-Regular";
  src: url("../fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Import Local SCSS Files */ /* Import Local SCSS Files */
@font-face {
  font-family: "YangjuByeolsanA1";
  src: url("../fonts/YangJuByeolsan.ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans-Regular";
  src: url("../fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* color */
/* fonts */
/* font size */
/* Import Local SCSS Files */ /* Import Local SCSS Files */
@font-face {
  font-family: "YangjuByeolsanA1";
  src: url("../fonts/YangJuByeolsan.ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans-Regular";
  src: url("../fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* color */
/* fonts */
/* font size */
/* Reset */
* {
  outline: 0 !important;
}

html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside,
dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* 탭하거나 꾹 누르는 경우 (롱터치) 보여지는 기본 ui를 제어하는 속성이다. iOS에서 터치 동작을 막고 싶을 때 사용 */
  /* -webkit-user-select:none;  드래그나 더블 클릭해서 텍스트의 선택을 하지 못하게 함 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 화면을 탭할 때 하이라이트가 생기는 것을 없앰 */
  font-size: 16px;
}

body {
  width: 100%;
  background: #FFFFFF;
  min-width: 320px; /* 모바일 */
  -webkit-text-size-adjust: none; /* 아이폰의 경우 뷰포트가 변경되면 자동으로 폰트 크기가 변경됨 */
  word-wrap: break-word; /* 가로 영역을 넘치는 단어에 대해 분리를 어떻게 할것인지 (띄어쓰지 않아도 줄바뀜) */
  word-break: break-all; /* 위와 비슷한 줄바꿈 */
  line-height: 1;
}

body, input, select, textarea, button {
  border: none;
  font-family: "WantedSans-Regular";
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 500;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

img, fieldset {
  border: none;
}

address, cite, code, em {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button {
  vertical-align: middle;
}

.hide, caption, legend {
  line-height: 0;
  font-size: 1px;
  overflow: hidden;
}

hr {
  display: none;
}

main, header, section, nav, footer, aside, article, figure {
  display: block;
}

a {
  color: #000000;
  text-decoration: none;
}

/* Form */
textarea {
  border: 1px solid #dbdbdb;
}

select {
  height: 32px;
  font-size: 0.7rem;
  color: #373737;
  border: 1px solid #e9e9e9;
  background: #fff;
  border-radius: 5px;
}

input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date], textarea {
  width: 100%;
  height: 34px;
  font-size: 0.7rem;
  color: #484848;
  border: none;
  background: #f2f2f2;
  text-indent: 17px;
  border-radius: 20px;
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #979797;
  font-size: 0.7rem;
  line-height: 1;
}

textarea {
  padding: 5px 0;
}

select:focus,
textarea:focus,
input:focus {
  border: none;
}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=search][readonly],
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled] {
  background: #eaeaea;
  border-color: #c0c0c0;
  color: #666;
  -webkit-appearance: none;
  font-size: 0.7rem;
}

textarea[readonly],
textarea[disabled] {
  padding: 11px;
  font-size: 0.7rem;
  color: #666;
  font-weight: normal;
  line-height: 1.4;
  height: 78px;
  background: #eaeaea;
  border: 1px solid #c0c0c0;
}

@font-face {
  font-family: "YangjuByeolsanA1";
  src: url("../fonts/YangJuByeolsan.ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans-Regular";
  src: url("../fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* header */
.header .header-wrap {
  margin: 10px auto;
  background: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 12px;
}
.header .header-wrap .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-wrap .left .face-img {
  border-radius: 50%;
  padding: 1px;
  border: 1px solid #FFFFFF;
  width: 45px;
  height: 45px;
}
.header .header-wrap .left .face-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.header .header-wrap .left .name {
  color: #FFFFFF;
  margin-left: 10px;
  font-size: 24px;
  line-height: 45px;
}
.header .header-wrap .right .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-wrap .right .buttons a {
  margin-right: 5px;
  display: block;
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  background-color: #A4A4A4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .header-wrap .right .buttons a:hover {
  background: #FFFFFF;
}
.header .header-wrap .right .buttons a:last-child {
  margin-right: 0;
}
.header .header-wrap .right .buttons a i {
  font-size: 24px;
}

#copy-msg {
  display: none;
  position: fixed;
  left: 50%;
  top: 90px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #000000;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 10000;
}

#copy-msg.show {
  display: block;
  opacity: 1;
}

/* footer */
.footer {
  position: relative;
}
.footer .scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 50px;
  border: 3px solid #5B5B5B;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.footer .scroll-top-btn.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.footer .scroll-top-btn:hover {
  background-color: #000000;
  border-color: #CCCCCC;
}
.footer .scroll-top-btn:hover .bi {
  color: #CCCCCC;
}
.footer .scroll-top-btn .bi {
  font-size: 35px;
  color: #5B5B5B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* common */
body {
  overflow-x: hidden;
}

/* inner */
[class*=inner] {
  width: 1200px;
  height: inherit;
  margin: auto;
}

/* background-line */
.background-line {
  z-index: -1;
  position: absolute;
}
.background-line.line01 {
  top: 200px;
}
.background-line.line02 {
  top: 1550px;
  right: 0;
}

/* section.main */
.main .main-inner {
  margin-top: 100px;
}
.main .main-inner .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.main .main-inner .intro img {
  width: 100px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  border-radius: 10px;
}
.main .main-inner .intro .text {
  font-size: 30px;
  bottom: 0;
  left: 120px;
  position: absolute;
}
.main .main-inner .aspirations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .main-inner .aspirations .aspiration-kr {
  font-family: "YangjuByeolsanA1";
  font-size: 30px;
  text-align: end;
}
.main .main-inner .aspirations .aspiration-kr br {
  display: none;
}
.main .main-inner .aspirations .aspiration-en {
  font-family: "YangjuByeolsanA1";
  font-size: 114px;
  text-align: center;
}

/* section.choice */
.choice {
  margin-top: 100px;
}
.choice .choice-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choice .choice-inner .option .option-title {
  margin-bottom: 10px;
  width: 65px;
  color: #5B5B5B;
  padding: 5px;
  border-bottom: 2px solid #5B5B5B;
  font-weight: bold;
}
.choice .choice-inner .option .option-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.choice .choice-inner .option .option-buttons .dropdown {
  position: relative;
  width: 130px;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.choice .choice-inner .option .option-buttons .dropdown:nth-child(2), .choice .choice-inner .option .option-buttons .dropdown:nth-child(3) {
  width: 85px;
}
.choice .choice-inner .option .option-buttons .dropdown:nth-child(4) {
  width: 100px;
}
.choice .choice-inner .option .option-buttons .dropdown .selected {
  padding: 8px 12px;
  border: 1px solid #A4A4A4;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.choice .choice-inner .option .option-buttons .dropdown .selected::after {
  content: "▼";
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #A4A4A4;
  pointer-events: none;
}
.choice .choice-inner .option .option-buttons .dropdown .options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  border-radius: 5px;
  margin-top: 4px;
  z-index: 10;
}
.choice .choice-inner .option .option-buttons .dropdown .options li {
  padding: 8px 12px;
  cursor: pointer;
}
.choice .choice-inner .option .option-buttons .dropdown .options li:hover {
  background-color: #d7d7d7;
}
.choice .choice-inner .option .option-buttons .dropdown.open .options {
  display: block;
}
.choice .choice-inner .skill {
  margin-left: 50px;
}
.choice .choice-inner .skill .skill-title {
  margin-bottom: 10px;
  width: 65px;
  color: #5B5B5B;
  padding: 5px;
  border-bottom: 2px solid #5B5B5B;
  font-weight: bold;
}
.choice .choice-inner .skill .skill-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choice .choice-inner .skill .skill-buttons a {
  border: 1px solid #A4A4A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #FFFFFF;
}
.choice .choice-inner .skill .skill-buttons a:hover, .choice .choice-inner .skill .skill-buttons a.active {
  font-weight: bold;
}
.choice .choice-inner .skill .skill-buttons a:hover.figma, .choice .choice-inner .skill .skill-buttons a.active.figma {
  border-color: #FF8A65;
  color: #FF8A65;
}
.choice .choice-inner .skill .skill-buttons a:hover.scss, .choice .choice-inner .skill .skill-buttons a.active.scss {
  border-color: #CD6799;
  color: #CD6799;
}
.choice .choice-inner .skill .skill-buttons a:hover.css, .choice .choice-inner .skill .skill-buttons a.active.css {
  border-color: #1572B6;
  color: #1572B6;
}
.choice .choice-inner .skill .skill-buttons a:hover.javascript, .choice .choice-inner .skill .skill-buttons a.active.javascript {
  border-color: #D4BF31;
  color: #D4BF31;
}
.choice .choice-inner .skill .skill-buttons a:hover.react, .choice .choice-inner .skill .skill-buttons a.active.react {
  border-color: #00BCD4;
  color: #00BCD4;
}
.choice .choice-inner .skill .skill-buttons a:hover img, .choice .choice-inner .skill .skill-buttons a.active img {
  -webkit-filter: brightness(100%) saturate(100%);
          filter: brightness(100%) saturate(100%);
}
.choice .choice-inner .skill .skill-buttons a img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  -webkit-filter: brightness(100%) saturate(1%);
          filter: brightness(100%) saturate(1%);
}
.choice .choice-inner .skill .skill-buttons a p {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* section.container */
.container .container-inner {
  margin-top: 50px;
}
.container .container-inner .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.container .container-inner .items .item {
  background: #FFFFFF;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #A4A4A4;
  width: 380px;
  height: 390px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 10px #858585;
          box-shadow: 0 0 10px #858585;
}
.container .container-inner .items .item:hover {
  -webkit-box-shadow: 0 10px 10px #b3b3b3;
          box-shadow: 0 10px 10px #b3b3b3;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.container .container-inner .items .item .thumbnail-img img {
  display: block;
  width: 100%;
  height: 190px;
}
.container .container-inner .items .item .thumbnail-text {
  padding: 20px;
}
.container .container-inner .items .item .thumbnail-text h3 {
  font-size: 24px;
}
.container .container-inner .items .item .thumbnail-text .summary {
  margin-top: 15px;
  width: 340px;
  height: 65px;
  font-size: 18px;
}
.container .container-inner .items .item .thumbnail-text .badge {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .container-inner .items .item .thumbnail-text .badge p {
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
}
.container .container-inner .items .item .thumbnail-text .badge p.team {
  color: #FFFFFF;
  background: #239700;
  margin-right: 5px;
}
.container .container-inner .items .item .thumbnail-text .badge p.single {
  color: #FFFFFF;
  background: #F89C08;
  margin-right: 5px;
}
.container .container-inner .items .item .thumbnail-text .badge p.responsive {
  color: #FFFFFF;
  background: #c70000;
}
.container .container-inner .items .item .thumbnail-text .badge p.only-pc {
  color: #FFFFFF;
  background: #0063b4;
}

/* section.modal */
.modal {
  display: none;
  background: rgba(0, 0, 0, 0.7019607843);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.modal .modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFFFFF;
  height: auto;
  border-radius: 20px;
}
.modal .modal-inner .close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal .modal-inner .close-btn:hover {
  color: #878787;
}
.modal .modal-inner .internal-contents {
  text-align: center;
  padding: 30px 50px;
}
.modal .modal-inner .internal-contents .in-title {
  font-size: 35px;
  font-family: "YangjuByeolsanA1";
}
.modal .modal-inner .internal-contents .in-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.modal .modal-inner .internal-contents .in-skills .each-skill {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}
.modal .modal-inner .internal-contents .in-skills .each-skill.figma {
  border-color: #FF8A65;
  color: #FF8A65;
}
.modal .modal-inner .internal-contents .in-skills .each-skill.scss {
  border-color: #CD6799;
  color: #CD6799;
}
.modal .modal-inner .internal-contents .in-skills .each-skill.css {
  border-color: #1572B6;
  color: #1572B6;
}
.modal .modal-inner .internal-contents .in-skills .each-skill.javascript {
  border-color: #d4b800;
  color: #000;
}
.modal .modal-inner .internal-contents .in-skills .each-skill.react {
  border-color: #00BCD4;
  color: #00BCD4;
}
.modal .modal-inner .internal-contents .in-skills .each-skill p {
  margin-left: 5px;
}
.modal .modal-inner .internal-contents .in-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 40px 0;
}
.modal .modal-inner .internal-contents .in-texts .left-img {
  width: 590px;
  height: 290px;
}
.modal .modal-inner .internal-contents .in-texts .left-img img {
  width: 100%;
  height: 100%;
}
.modal .modal-inner .internal-contents .in-texts .right-text {
  text-align: left;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal .modal-inner .internal-contents .in-texts .right-text .parnassus .parn-title {
  font-size: 20px;
  color: #282183;
  font-weight: 600;
}
.modal .modal-inner .internal-contents .in-texts .right-text .parnassus ul {
  margin-top: 5px;
}
.modal .modal-inner .internal-contents .in-texts .right-text .parnassus ul li {
  margin-left: 30px;
  list-style: disc;
  line-height: 20px;
}
.modal .modal-inner .internal-contents .in-button .more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
  margin: auto;
  width: 480px;
  height: 60px;
  gap: 20px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal .modal-inner .internal-contents .in-button .more-btn:hover {
  background: #878787;
}
.modal .modal-inner .internal-contents .in-button .more-btn p {
  font-size: 24px;
  color: #FFFFFF;
}
.modal .modal-inner .internal-contents .in-button .more-btn i {
  font-size: 24px;
  color: #FFFFFF;
}